<!-- <div class="dashboard-wrapper">
    <button id="sidebarToggle" class="btn btn-primary d-md-none" (click)="toggleSidebar()">
      <i class="bi bi-list"></i>
    </button>
  
    <nav id="sidebar" class="bg-primary text-white" [class.active]="isSidebarActive">
      <div class="sidebar-header">
        <h3>AutoParts</h3>
      </div>
      <ul class="nav flex-column flex-grow-1">
        <li class="nav-item">
          <a class="nav-link" routerLink="tech-list" routerLinkActive="active">
            <i class="bi bi-person"></i> Ajouter piece
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list-piece" routerLinkActive="active">
            <i class="bi bi-people"></i> Pieces
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/showOrders" routerLinkActive="active">
            <i class="bi bi-tools"></i> Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/tips" routerLinkActive="active">
            <i class="bi bi-exclamation-triangle"></i> Tips
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tickets" routerLinkActive="active">
            <i class="bi bi-ticket"></i> Contact us
          </a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <button class="btn btn-logout" (click)="onLogout()">
          <i class="bi bi-box-arrow-right"></i> Logout
        </button>
      </div>
    </nav>
  
    <main class="content">
      <header class="content-header">
        <h1>Welcome to your Dashboard</h1>
      </header>
      <div>
        <router-outlet></router-outlet>
      </div>
    </main>
  </div> -->

  <div class="dashboard-wrapper">
    <button id="sidebarToggle" class="btn btn-primary d-md-none" (click)="toggleSidebar()">
      <i class="bi bi-list"></i>
    </button>
  
    <nav id="sidebar" class="bg-primary text-white" [class.active]="isSidebarActive">
      <div class="sidebar-header">
        <img src="/assets/autolg.png" alt="logo" class="logo">
        <!-- <h3>AutoParts</h3> -->
      </div>
      <ul class="nav flex-column flex-grow-1">
        <li class="nav-item">
          <a class="nav-link" routerLink="add-piece" routerLinkActive="active">
            <i class="bi bi-person"></i> Ajouter piece
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="list-piece" routerLinkActive="active">
            <i class="bi bi-people"></i> Pieces
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="showOrders" routerLinkActive="active">
            <i class="bi bi-tools"></i> Commandes
          </a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <button class="btn btn-logout" (click)="onLogout()">
          <i class="bi bi-box-arrow-right"></i> Logout
        </button>
      </div>
    </nav>
  
    <main class="content">
      <header class="content-header">
        <h1>Welcome to your Dashboard</h1>
      </header>
      <div>
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
  