 <!-- <section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-7 text-black d-flex align-items-center justify-content-center">
          <div class="d-flex align-items-center h-custom-2 px-3 mt-5">
            <form style="width: 23rem;" [formGroup]="loginForm" (ngSubmit)="submitForm()">
              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>
              
              <div data-mdb-input-init class="form-outline mb-4">
                <input 
                  type="email" 
                  id="form2Example18" 
                  class="form-control form-control-lg" 
                  formControlName="email"
                />
                <label class="form-label" for="form2Example18">Email address</label>
              </div>
              
              <div data-mdb-input-init class="form-outline mb-4">
                <input 
                  type="password" 
                  id="form2Example28" 
                  class="form-control form-control-lg" 
                  formControlName="password"
                />
                <label class="form-label" for="form2Example28">Password</label>
              </div>
              
              <div class="pt-1 mb-4 btn-center">
                <button 
                  data-mdb-button-init 
                  data-mdb-ripple-init 
                  class="btn btn-info btn-lg btn-block" 
                  type="submit" 
                  [disabled]="loginForm.invalid"
                >
                  Login
                </button>
              </div>
  
            </form>
          </div>
        </div>
        
        <div class="col-sm-5 d-flex align-items-center justify-content-center">
          <img 
            src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/277353723/original/0ad73a52b243805325fd0eceb4a511614425e553/give-you-high-quality-auto-parts-car-logo-with-original-concept.jpg"
            alt="Login image" 
            class="w-100 custom-image"
          >
        </div>
      </div>
    </div>
  </section>

  -->
  <div class="login-container">
    <div class="login-content">
      <div class="login-image">
        <img src="assets/hero-thumb.png" alt="Tradesman ready for work">
      </div>
      <div class="login-form">
        <h2>Log in to your account</h2>
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
          <div *ngIf="loginError" class="error-message">
            {{ loginError }}
          </div>
  
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" id="email" formControlName="email" placeholder="Enter your email">
            <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="error-message">
              <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</small>
              <small *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email address</small>
            </div>
            <div *ngIf="emailError" class="error-message">
              <small>{{ emailError }}</small>
            </div>
          </div>
  
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password" placeholder="Enter your password">
            <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="error-message">
              <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</small>
            </div>
            <div *ngIf="passwordError" class="error-message">
              <small>{{ passwordError }}</small>
            </div>
          </div>
  
          <div class="form-group checkbox">
            <input type="checkbox" id="remember" formControlName="remember">
            <label for="remember">Remember me</label>
          </div>
  
          <button type="submit" [disabled]="loginForm.invalid">Login</button>
        </form>
        <p class="register-link">
          Don't have an account? <a routerLink="/register">Sign up</a>
        </p>
      </div>
    </div>
  </div>