<app-navbar></app-navbar>
<div class="showroom-container">
  <h1>Auto Parts Showroom</h1>
  <div class="parts-grid">
    <div *ngFor="let part of autoParts" class="part-card">
      <img [src]="part.image" [alt]="part.nom" class="part-image" (click)="showPieceDetails(part)">
      <h2>{{ part.nom }}</h2>
      <p class="description">{{ part.reference }}</p>
      <p class="price">{{ part.prix | currency:'dh' }}</p>
      <div class="button-group">
        <button (click)="addToCart(part.id!)" class="cart-button">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>