<nav class="navbar">
  <div class="container">
    <a href="/" class="logo">AutoParts</a>
    <ul class="nav-list">
      <li *ngFor="let item of navItems">
        <a [routerLink]="item.link" class="nav-link">{{ item.label }}</a>
      </li>
      <!-- Cart link with cart icon -->
      <li class="cart-item">
        <a [routerLink]="cartLink" class="nav-link">
          <i class="fas fa-shopping-cart"></i> Cart 
          <span *ngIf="cartItemCount > 0" class="cart-badge">{{ cartItemCount }}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
