<!-- <div class="container">
    <h2>Ajouter une nouvelle pièce</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nom">Nom de la pièce</label>
        <input type="text" id="nom" class="form-control" [(ngModel)]="piece.nom" name="nom" required>
      </div>
      <div class="form-group">
        <label for="description">Description de la pièce</label>
        <input type="text" id="description" class="form-control" [(ngModel)]="piece.description" name="description" required>
      </div>
      <div class="form-group">
        <label for="reference">Référence</label>
        <input type="text" id="reference" class="form-control" [(ngModel)]="piece.reference" name="reference" required>
      </div>
      <div class="form-group">
        <label for="quantite">Quantité</label>
        <input type="number" id="quantite" class="form-control" [(ngModel)]="piece.quantite" name="quantite" required>
      </div>
      <button type="submit" class="btn btn-primary" >Ajouter</button>
    </form>
  </div> -->

  <div class="form-container">
    <form [formGroup]="pieceForm" (ngSubmit)="onSubmit()" class="styled-form">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input id="nom" formControlName="nom" type="text" placeholder="Nom" class="form-control">
      </div>
  
      <div class="form-group">
        <label for="prix">Prix</label>
        <input id="prix" formControlName="prix" type="number" placeholder="Prix" class="form-control">
      </div>
  
      <div class="form-group">
        <label for="reference">Référence</label>
        <input id="reference" formControlName="reference" type="text" placeholder="Référence" class="form-control">
      </div>
  
      <div class="form-group">
        <label for="quantite">Quantité</label>
        <input id="quantite" formControlName="quantite" type="number" placeholder="Quantité" class="form-control">
      </div>
  
      <div class="form-group">
        <label for="image">Image</label>
        <input id="image" type="file" (change)="onFileSelected($event, 'image')" class="form-control">
        <div *ngIf="imagePreviewUrl" class="image-preview">
          <img [src]="imagePreviewUrl" alt="Preview">
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary submit-btn">Submit</button>
    </form>
  </div>
  
  