.cart-container {
    padding: 20px;
  }
  
  .error-message {
    color: red;
  }
  
  .empty-cart {
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .item-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
  }
  
  .item-details {
    flex-grow: 1;
  }
  
  .total-price {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
  }
  


  .parent-container {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    align-items: center; /* Centers the button vertically (optional) */
}


  .custom-test{
    background-color: tomato;
    width: fit-content;
    border-radius: 3px;
    
    
  }