<div class="container">
  <h2>Liste des Pièces</h2>

  <button class="btn btn-primary mb-3" routerLink="/dashboard/add-piece">Ajouter une Pièce</button>

  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Image</th>
        <th>Référence</th>
        <th>Quantité</th>
        <th>Prix</th>
        <!-- <th>Actions</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let piece of pieceList | paginate: { itemsPerPage: 3, currentPage: page }">
        <td>{{ piece.nom }}</td>
        <td><img src="{{ piece.image }}" style="width:100px; height:auto;"></td>
        <td>{{ piece.reference }}</td>
        <td>{{ piece.quantite }}</td>
        <td>{{ piece.prix }} dh</td>
        <!-- <td>
          <a class="btn btn-success mr-2" [routerLink]="['edit', piece.id]">Edit</a>
          <button (click)="deletePiece(piece.id!)" class="btn btn-danger btn-sm">Supprimer</button>
        </td> -->
      </tr>
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
